  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;

  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  #Object{
    font-size: 23px;
    font-weight: bold;
    color: white;
    white-space: pre-line;
  }
  #Accuracy{
    font-size: 23px;
    font-weight: bold;
    color: white;
    white-space: pre-line;
  }
.copy_right_footer{
  position: fixed;
  background-color:black;
  color: red;
  font-weight: bold;
  font-size: 20px;
  line-height: 3;
  width: 100%;
  bottom:0;
  text-align: center;

}
canvas{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 150px;

}